<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form METHOD="POST">
      <h2>Username</h2>
      <input type="text" id="username" name="username"/>
      <button type="submit">Submit</button>

    </form>
  </body>
</html>
